<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/themify.css' />
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />


    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'></script>
    <script type='text/javascript' src='/javascripts/tether.min.js'></script>
    <script type='text/javascript' src='/javascripts/bootstrap.js'></script>    
    <script type='text/javascript' src='/javascripts/bootstrap.min.js'></script>
    <script type='text/javascript' src='http://code.jquery.com/jquery-2.1.4.min.js'></script>
    <script type='text/javascript' src='/javascripts/script.js'></script>
  </head>
  <body id="home" class="homepage">
<div class="navbar navbar-inverse navbar-fixed-top navbar-inverseHeaderlogo loggedinhdbgCol">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                
                <a href="/" title="Laksh Work"><img src="/images/CD-Music.png" 
                   alt="Laksh Work" style="margin-left:20px;padding-top:2px;padding-left:2px;padding-bottom:2px;width:50px;height:50px">
                </a> 
            </div>
            <div style="float:right;">
            <p style="color:#fff;font-weight:bold;margin-top:10px;font-size:20pt;">Welcome {{loggedInuser}}!</p>
            </div>
            <div class="navbar-collapse collapse">                
                <ul class="nav navbar-nav navbar-right">        
                     <li>
                         <a href="/login" id="loginLink" title="Login" style="color:#fff;cursor:pointer;font-size:10pt;">Log out</a>
                     </li>
                </ul>

            </div>
        </div>
</div>

    {{{body}}}
  

    <footer class="footer-distributed loggedinhdbgCol">

			<div class="footer-right">

				<a href="#" title="Facebook"><i class="fa fa-facebook"></i></a>
				<a href="#" title="Google Plus"><i class="fa fa-google-plus-square"></i></a>
				<a href="#" title="Linkedin"><i class="fa fa-linkedin"></i></a>
				<a href="https://github.com/Lakshpiya" title="Github" target="_blank"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a href="#">Home</a>
					·					
					<a href="#">About</a>
					·					
					<a href="#">Contact</a>
				</p>

				<p style="color:#fff;">Company Name &copy; 2018</p>
			</div>

		</footer>


	
  </body>
</html>