body{
  /* background-image: url(http://333v.ru/uploads/2d/2d4d43f97670e12bfe37960f915f89e0.jpg); */
  }
.login{
  background-color: white;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-top: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
.loginheading{
  text-align: center;
  margin-bottom: 30px;
}
.loginbottomtext{
  text-align: center;
  margin-top: 20px;
}
.pagecontainer{
  margin-top: 30px;
  background-color: white; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin-left: 20px;
  margin-right: 20px;
  
}
.pageheader {
  width: 100%;
  height: 60px;
  background-color: #ff6800;
  margin: 0;
  padding: 0;
}
.menubutton{
color: white;
  background-color: #ff6800;
border: 0px solid transparent;
font-size: 20pt;
margin-top: 10px;
}
.pagetitle{
  color: white;
  margin: 10px;
}
.contentheight{
  height: 300px;
}
.custom-alert {
  padding: 7px;
  display: none;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  border-radius: 4px;
}
span.verify {
  position: absolute;
  float: right;
  font-size: 22px;
  height: 0;
  right: 10px;
  top: 49px;
  display: none;
}
span.cross {
  position: absolute;
  color: red;
  float: right;
  font-size: 26px;
  height: 0;
  overflow: hidden;
  right: 3px;
  top: -5px;
  display: none;
}
.asterix {
  position: absolute;
  color: red;
  float: right;
  font-size: 59px;
  height: 0;
  overflow: hidden;
  right: 0;
  top: -11px;  
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 1;
      font-size-adjust: none;
      font-stretch: normal;
      -x-system-font: none;
      font-feature-settings: normal;
      font-language-override: normal;
      font-kerning: auto;
      font-variant-alternates: normal;
      font-variant-caps: normal;
      font-variant-east-asian: normal;
      font-variant-ligatures: normal;
      font-variant-numeric: normal;
      font-variant-position: normal;
      font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/******/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}


/**********************/
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin-bottom: 40px;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}
.text-truncate {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
p.amtCurr
{
  font-weight: bold;
  color: #000000;
}

.text-left {
  text-align: left!important;
}
.trackName {
  color: #000000;
  /* text-align: left!important;
  font-size: normal;
  margin-left: 20px;
  font-weight: bold;
  margin-top: -4px;
  margin-bottom: 10px; */
}
h5 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}

.har_shop_al_item_bl h5 {
  width: 100px;
  display: block;
  height: 1px;
  background: #333;
  margin: 10px auto;
}

.line{
  width: 100%;
  height: 10px;
  text-align: left;
  border-bottom: 1px solid black;
  
  }
  .har_shop_desc {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.har_shop_price {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 10px 0 15px;
}
.har_shop_soc_c a i{
  color:#fff;
  text-decoration:none;
  margin:0 4px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.imgCls{
  width: 20 px;
  height: 20px;
}